apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-route
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: infrastructure
  source:
    repoURL: https://github.com/danyalahmed/dac-lab.git
    path: kubernetes/infra/argocd-route
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
