apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault-pki-integration
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  project: security
  source:
    repoURL: git@github.com:danyalahmed/dac-lab-private.git
    path: kubernetes/infra/vault-pki
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
