apiVersion: seaweed.seaweedfs.com/v1
kind: Seaweed
metadata:
  name: seaweedfs-cluster
  namespace: shared-services
  labels:
    istio.io/dataplane-mode: none  # Specifically excludes these pods from Ambient
spec:
  image: chrislusf/seaweedfs:4.06
  master:
    volumeSizeLimitMB: 1024
    nodeSelector:
      schedule-seaweedfs: "True"
    replicas: 1
  volume:
    nodeSelector:
      schedule-seaweedfs: "True"
    replicas: 1
    requests:
      storage: 100Gi
    storageClassName: nfs-client
  filer:
    nodeSelector:
      schedule-seaweedfs: "True"
    replicas: 1
    persistence:
      enabled: true
      storageClassName: "nfs-client"
      mountPath: /data
      resources:
        requests:
          storage: 5Gi
    s3:
      enabled: true
      configSecret:
        name: seaweedfs-s3-config
        key: s3-config.json
    config: |
      [leveldb2]
      enabled = true
      dir = "/data/filerldb2"