apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: local-path-provisioner
  namespace: shared-services
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: deploy/chart/local-path-provisioner
      sourceRef:
        kind: GitRepository
        name: local-path-provisioner-repo
        namespace: flux-system
      interval: 1h
  values:
    storageClass:
      defaultClass: true
      name: local-path
    nodePathMap:
      - node: DEFAULT_PATH_FOR_NON_LISTED_NODES
        paths:
          - /var/lib/kubernetes/local-path-provisioner
    configmap:
      setup: |-
        #!/bin/sh
        while getopts "m:s:p:" opt; do
          case $opt in
            p) absolutePath=$OPTARG ;;
            s) sizeInBytes=$OPTARG ;;
            m) volMode=$OPTARG ;;
          esac
        done
        mkdir -m 0777 -p "${absolutePath}/${PVC_NAMESPACE}/${PVC_NAME}"
      teardown: |-
        #!/bin/sh
        while getopts "m:s:p:" opt; do
          case $opt in
            p) absolutePath=$OPTARG ;;
            s) sizeInBytes=$OPTARG ;;
            m) volMode=$OPTARG ;;
          esac
        done
        exit 0
