nfs:
  server: "nfs-server.local" # it is resolvable from nodes
  path: /mnt/nfs-share/kubernetes
storageClass:
  name: nfs-client
  pathPattern: "${.PVC.namespace}/${.PVC.name}"
  reclaimPolicy: Retain
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"