apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: seaweedfs-master-pvc
  namespace: shared-services
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-client
  resources:
    requests:
      storage: 5Gi
