apiVersion: seaweed.seaweedfs.com/v1
kind: Seaweed
metadata:
  name: seaweedfs-cluster # Kustomize matches this to the base name
  namespace: shared-services
spec:
  # CHANGE 2: Force the Filer to use LevelDB on NFS instead of Postgres
  filer:
    persistence:
      storageClassName: "nfs-client"
      resources:
        requests:
          storage: 5Gi
    config: |
      [leveldb2]
      enabled = true
      dir = "/data/filerdb2"