{
    "identities": [
        {
            "name": "admin",
            "credentials": [
                {
                    "accessKey": "{{ seaweedfs_secondary_admin_access_key }}",
                    "secretKey": "{{ seaweedfs_secondary_admin_secret_key }}"
                }
            ],
            "actions": [
                "Admin"
            ]
        }
    ]
}