server:
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  ha:
    enabled: false
  dataStorage:
    enabled: false
  auditStorage:
    enabled: true
    size: 10Gi
    storageClass: local-path
  standalone:
    enabled: true
    config: |
      ui = true

      listener "tcp" {
        address = "[::]:8200"
        cluster_address = "[::]:8201"
        tls_disable = 1
      }

      storage "s3" {
        endpoint = "http://seaweedfs-s3.shared-services.svc:8333"
        bucket = "vault-backend"
        access_key = "vault-access-key"
        secret_key = "vault-secret-key"
        s3_force_path_style = true
        region = "eu-west-2"
      }

      service_registration "kubernetes" {}
injector:
  enabled: true