- name: Get CoreDns Service IP
  ansible.builtin.command: kubectl get svc -n kube-system kube-dns -o jsonpath='{.spec.clusterIP}'
  register: coredns_service_ip
  delegate_to: "{{ groups['controlplanes'][0] }}"
  run_once: true
  become: false
  changed_when: false

- name: Set CoreDns Service IP fact
  ansible.builtin.set_fact:
    coredns_ip: "{{ coredns_service_ip.stdout }}"
  run_once: true

- name: Create resolved.conf.d directory
  ansible.builtin.file:
    path: /etc/systemd/resolved.conf.d
    state: directory
    mode: '0755'

- name: Deploy Dns configuration
  ansible.builtin.copy:
    dest: /etc/systemd/resolved.conf.d/k8s-dns.conf
    content: |
      [Resolve]
      DNS="{{ coredns_ip }} 1.1.1.1"
      Domains=~svc.cluster.local ~cluster.local
    mode: '0644'
  notify: Restart systemd-resolved

- name: Ensure /etc/resolv.conf points to systemd-resolved
  ansible.builtin.file:
    src: /run/systemd/resolve/resolv.conf
    dest: /etc/resolv.conf
    state: link
