storageClass:
  defaultClass: true
  reclaimPolicy: Retain
  name: local-path
nodePathMap:
  - node: DEFAULT_PATH_FOR_NON_LISTED_NODES
    paths:
      - /var/lib/kubernetes/local-path-provisioner
configmap:
  # This overrides the default 'setup' script in the ConfigMap
  setup: |-
    #!/bin/sh
    while getopts "m:s:p:" opt; do
      case $opt in
        p) absolutePath=$OPTARG ;;
        s) sizeInBytes=$OPTARG ;;
        m) volMode=$OPTARG ;;
      esac
    done
    # Your custom namespace/name logic
    mkdir -m 0777 -p "${absolutePath}/${PVC_NAMESPACE}/${PVC_NAME}"

  # This overrides the default 'teardown' script
  teardown: |-
    #!/bin/sh
    while getopts "m:s:p:" opt; do
      case $opt in
        p) absolutePath=$OPTARG ;;
        s) sizeInBytes=$OPTARG ;;
        m) volMode=$OPTARG ;;
      esac
    done
    # Homelab safety: comment out the 'rm' or leave as exit 0
    # rm -rf "${absolutePath}/${PVC_NAMESPACE}/${PVC_NAME}"
    exit 0
configData:
  setup: /etc/config/setup
  teardown: /etc/config/teardown